@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}
label {
    margin-bottom: 0;
}
b,
strong {
    font-weight: 700 !important;
    color: #333333 !important;
}
.shadow,
.about-section .item,
.clicklinks ul li {
    box-shadow: 0 4px 20px 1px #0000000f, 0 1px 4px #00000014;
    -moz-box-shadow: 0 4px 20px 1px #0000000f, 0 1px 4px #00000014;
    -o-box-shadow: 0 4px 20px 1px #0000000f, 0 1px 4px #00000014;
    -webkit-box-shadow: 0 4px 20px 1px #0000000f, 0 1px 4px #00000014;
}
p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 700;
}
h1,
.home-title {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    font-weight: 600;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
    font-weight: 400;
}
/* ----------------------------------Common---------------------------------- */
.transition,
#footer .widget .list li a i,
#footer .social a,
.all_forms .card .form-group label {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.clear {
    clear: both
}
.slick-dots {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots li button {
    font-size: 0px;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    outline: none !important;
    border-radius: 100%;
    background: #eee;
    border: solid 1px #000
}
.slick-dots li.slick-active button {
    background: #0f6600;
    border-color: #0f6600;
}
.home-title {
    display: inline-block;
    position: relative;
    padding: 0 0 15px 0;
    margin: 15px 0 50px 0 !important;
}
.home-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 50%;
    height: 4px;
    background: #eb6002;
    border-radius: 0;
    margin-left: -25%;
    border-radius: 15px;
}
.readmore {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    color: #000;
    padding: 0 25px 0 0;
}
.readmore::before {
    content: "\f061";
    position: absolute;
    right: 0;
    top: 0px;
    font-family: 'Font Awesome 5 Free';
    color: #000;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    background: #0f6600 !important;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 0;
    border: none;
    text-align: center;
}
.slick-arrow::before {
    content: "";
    font-size: 25px;
    font-family: inspiro-icons !important;
    color: #fff !important;
    position: relative;
    top: -1px;
}
.slick-prev.slick-arrow {
    left: -20px;
}
.slick-next.slick-arrow {
    right: -20px;
}
.slick-prev.slick-arrow::before {
    content: "\e92f";
}
.slick-next.slick-arrow::before {
    content: "\e930";
}
.mobile-footer {
    display: none !important;
}
/* ----------------------------------header---------------------------------- */
#header .header-inner #logo a > img{display: block;}
#mainMenu   li a span.material-symbols-outlined{color: #0f6600; font-size: 20px; display: inline-block; margin-right: 5px; vertical-align: top;   line-height: 110px; }
#mainMenu  li a.btn-login  span.material-symbols-outlined{color: #ffffffff;}
#mainMenu {float: right;}
#mainMenu .clear{width: 100%; height: 1px; line-height: 1px;}
.btn-login {
    background: #0f6600;
color: #ffffffff !important;
border-radius: 15px !important;
}
.btn-login:hover {
    background:  #000000 !important;
}
#mainMenu nav > ul > li > a{    padding: 15px 25px; font-size: 16px; text-transform: none;}
#mainMenu nav > ul > li.li-margin{    margin-left: 150px;}
#mainMenu nav .submenu i{font-size: 12px;}
#header{height:110px; line-height: 110px;}
#header .header-inner, #header #header-wrap{height:110px; border-top: solid 5px  #0f6600;}
#header .header-inner #logo a > img{height: 85px;  position: relative;    top: 12px;}
#mainMenu nav > ul > li{margin-left: 25px;}
/* ----------------------------------Slider---------------------------------- */
.home-banner {
}
.home-banner .item {
    max-height: 1260px;
    overflow: hidden;
    background: #eeeeee;
}
.home-banner .item figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
.home-banner .item figure img {
    width: 100%;
}
.home-banner .item figure::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}
.home-banner .item figure.nobefore::before {
    display: none;
}
.home-banner .item {
    position: relative;
}
.home-banner .item .description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: auto;
    text-align: center;
}
.home-banner .item .description h1,
.home-banner .item .description h3 {
    color: #ffff;
}
.home-banner .slick-prev.slick-arrow {
    left: 0;
}
.home-banner .slick-next.slick-arrow {
    right: 0;
}
/* ----------------------------------Home Events---------------------------------- */
.home_events .inner {
   /* border-radius: 30px;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    padding: 50px; */
    position: relative;
}
.home_events .home_events_logo {
    width: 80px;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -40px;
}
.home_events .post-item {
    float: none;
    display: inline-block;
    margin: 0 10px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    padding-bottom: 0;
    vertical-align: top;
}
.home_news .post-item .post-item-description {
    min-height: 250px;
}
.home_news .post-item .post-item-description h2,
.home_news .post-item .post-item-description h2 a {
    color: #0f6600;
}
.home_news .post-item .post-item-description img {
    display: none !important;
}
.home_events .home_events .post-item {
    margin-bottom: 30px;
}
.home_events .post-item figure {
    margin: 24px 24px 0 24px;
    border-radius: 15px;
}
.event_list_page .events_lists figure {
    border-radius: 15px;
}
.home_events .post-item figure img,
.event_list_page .events_lists figure img {
    border-radius: 15px;
}
.home_events .post-item .post-item-description .post-meta-date {
    position: relative;
    color: #555;
    margin-bottom: 10px;
    font-size: 14px;
}
.home_events .post-item .post-item-description .post-meta-date i {
    position: relative;
    color: #555;
    display: inline-block;
    margin-right: 10px !important;
    top: -1px;
}
.home_news .buttons {
    border-top: solid 1px #ccc;
    padding: 15px 30px;
}
.home_news .buttons i {
    display: inline-block;
    margin-right: 10px;
}
/* ----------------------------------mission-block---------------------------------- */
.mission-block {
    background-repeat: no-repeat;
    background-size: 45% !important;
    background-position: left center;
    padding: 80px 0 40px 0;
    background-color: #f8f9fa;
    position: relative;
}
.mission-block figure {
width: 100%;
padding: 0 70px 0 0;
}
.mission-block figure img{
    width: 100%;
    border: solid 2px #eeeeee;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    }
 .home-photo-gallery  .card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    object-position: center right;
}
.home-photo-gallery  .card figure img{    object-position: center center;}
.mission-block h2 {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
}

/* ----------------------------------sponser-block---------------------------------- */
.sponser-block {
    padding: 70px 0;
    background: #fdefe7;
}
.media-partners {
    background: #ffffff;
}
.five-items figure {
    -webkit-box-shadow: 5px 5px 10px 3px rgb(209 209 209 / 50%);
    -moz-box-shadow: 5px 5px 10px 3px rgba(209, 209, 209, .5);
    box-shadow: 5px 5px 10px 3px rgb(209 209 209 / 50%);
    margin: 0 auto;
    border: solid 1px #ccc;
    background: #fff;
    padding: 0 !important;
    width: 180px;
    height: 180px;
    overflow: hidden;
}
.five-items figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -moz-object-fit: contain;
    -o-object-fit: contain;
    -webkit-object-fit: contain;
}
/* ----------------------------------subscribe-block---------------------------------- */
.subscribe-block {
    background: #0f6600;
    color: #fff;
    padding: 50px 0 30px 0;
    background-size: cover;
    position: relative;
    text-align: center;
}
.subscribe-block h4 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
    padding: 0;
    margin: -13px 0 0 0;
}
.subscribe-block .form-sub {
    text-align: left;
}
.subscribe-block .form-sub,
.subscribe-block h4 {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}
.subscribe-block .form-sub input {
    min-width: 500px;
}
/* ----------------------------------media-partners--------------------------------- */
.media-partners {
    background: #ffffff;
}
/* ----------------------------------Footer---------------------------------- */
#footer .widget .list li {
    display: inline-block;
    width: 48%;
}
#footer .widget .list li a {
    position: relative;
    padding: 0 0 0 30px;
    color: #000 !important;
    line-height: 22px;
    font-weight: 400;
    display: block;
}
#footer .widget .list li a i {
    position: absolute;
    left: 0;
    top: 3px;
    color: #0f6600;
    font-size: 14px;
}
#footer .widget .list li a:hover i {
    left: 5px;
}
.footer_logo img {
    max-width: 300px;
    margin-bottom: 30px;
}
.footer-left p {
    color: #000;
    line-height: 26px;
    font-weight: 400;
    padding-right: 50px;
}
.address_lost {
    margin: 0;
    padding: 0;
    list-style: none;
}
.address_lost li {
    position: relative;
    padding: 0 0 0 40px;
    color: #000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px !important;
}
.address_lost li i {
    position: absolute;
    left: 0;
    top: 5px;
}
.address_lost li i.fa-map-marker-alt {
    font-size: 30px;
}
#footer .social {
    margin-top: 30px;
}
#footer .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #343233;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    position: relative;
    top: 0;
}
#footer .social a:hover {
    top: -2px;
    background: #0f6600;
}
.address_lost li a {
    color: #000;
}
.address_lost li:hover,
.address_lost li:hover a {
    color: #0f6600 !important;
}
/* ---------------------------------- inner_pages---------------------------------- */
.inner-banner {
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    max-height: 500px;
    overflow: hidden;
   width: 100%;
}
.inner-banner figure {
    width: 100%;
    height: 100%;
    position: relative;
}
.inner-banner figure::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .70)
}
.inner-banner figure img {
    width: 100%;
}
.inner-page-title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 99;
}
.inner-page-title h1 {
    color: #ffffff;
    font-size: 46px;
    line-height: 50px;
    font-weight: 700;
}
.inner-page-title h1 span {
    display: block;
    font-weight: 400;
    font-size: 24px;
}
.inner-page-title h1 span {
    display: block;
    font-weight: 400;
    font-size: 24px;
}
.inner-page-title.expired h1 span {
    font-weight: 700;
    color: #0f6600;
}
.inner-banner .about-section .item {
    padding: 30px;
    margin-bottom: 50px;
}
.about-section .item:nth-child(even) figure {
    order: 2;
}
.about-section .item:nth-child(even) .conter {
    order: 1;
}
.inner_pages ul li {
    list-style: disc;
    padding-left: 15px;
}
.inner_pages ul.upper-alpha li {
    list-style: upper-alpha;
}
.inner_pages ul.custom-list,
.inner_pages ul.custom-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.inner_pages ul.custom-list li {
    margin-bottom: 15px;
    padding-left: 55px;
    position: relative;
}
.inner_pages ul.custom-list li::before {
    content: "\f35a";
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    left: 15px;
    top: 8px;
    color: #0f6600;
}
.inner_pages .clicklinks ul.custom-list li {
    padding: 15px 15px 15px 50px;
}
.inner_pages .clicklinks ul.custom-list li::before {
    top: 25px;
}
.inner_pages #dotsMenu ul li {
    list-style: none;
    padding-left: 0;
}
.andhravani #dotsMenu:before {
    background: #fff;
}
/* ---------------------------------- end---------------------------------- */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}
.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
    opacity: 1;
}
input:focus {
    background: none;
}
textarea.form-control {
    height: 100px;
}
.coverage-links .item {
    margin-bottom: 30px;
}
.coverage-links .item h3 {
    font-size: 26px;
    color: #0f6600;
    font-weight: 700;
}
.coverage-links .item .cvr_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cvr_list li {
    margin-bottom: 30px;
    padding-left: 0 !important;
    list-style: none !important;
}
.cvr_list li a {
    display: block;
    background: #fff7f4;
    box-shadow: 0 3px 3px rgba(133, 132, 132, 0.15), 0 3px 3px rgba(133, 132, 132, 0.15) !important;
    padding: 15px 30px 15px 60px !important;
    position: relative;
    color: #000000 !important;
}
.cvr_list li a::before {
    content: "\f35a";
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    left: 20px;
    top: 21px;
    font-size: 20px;
    color: #0f6600;
}
.cvr_list li a:hover {
    background: #0f6600;
    color: #ffffff !important;
}
.cvr_list li a:hover::before {
    color: #ffffff;
}
.gallery_title {
    padding: 0 0 15px 0;
    border-bottom: solid 3px #ccc;
    margin-bottom: 30px !important;
    color: #0f6600;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
.photo-gallery .card-body-01 {
    padding: 10px 30px 20px 30px;
}
.error_pages {
    background: url(../../images/error-bg.jpg) center bottom no-repeat;
}
.error_pages .error_content {
    height: 80vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.error_pages .container {
    margin: 0 auto;
}
.error_pages .error_content .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.error_pages .error_content .col-md-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.error_pages .error_content .btn {
    display: inline-block;
}
.error_pages .error_content .logo {
    display: block;
    margin-bottom: 50px;
}
.error_pages .error_content .logo img {
    max-width: 300px;
}
.error_pages .error_content h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}
.error_pages .error_content h1 span {
    font-weight: 700;
}
.error_pages .error_content p {
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.error_pages .error_content .pic figure {
    padding-left: 50px;
    margin-bottom: 0;
}
.error_pages .error_content .pic figure img {
    width: 100%;
}
.all_forms .card .form-group {
    position: relative;
    margin-bottom: 30px;
}
.all_forms .card .form-group input {
    border-color: #000000;
    height: 50px;
    position: relative;
    z-index: 2;
    background: none !important;
    width: 100% !important;
    border-width: 1px;
}
.all_forms .card .form-group label {
    position: absolute;
    left: 25px;
    top: 10px;
    display: block;
    padding: 0 10px;
    font-weight: 400;
    z-index: 1;
}
.all_forms .card .form-group input:focus+label,
.all_forms .card .form-group input:active+label,
.all_forms .card .form-group input:focus-within+label,
.all_forms .card .form-group input:target+label,
.all_forms .card .form-group input:visited+label,
.all_forms .card .form-group input:focus-visible+label,
.all_forms .card .form-group.input-has-value input+label,
.all_forms .card .form-group input:-webkit-autofill+label,
.all_forms .card .form-group input:-webkit-autofill:hover+label,
.all_forms .card .form-group input:-webkit-autofill:focus+label,
.all_forms .card .form-group input:-webkit-autofill:active+label,
.all_forms .card .form-group textarea:focus+label,
.all_forms .card .form-group textarea:active+label,
.all_forms .card .form-group textarea:focus-within+label,
.all_forms .card .form-group textarea:target+label,
.all_forms .card .form-group textarea:visited+label,
.all_forms .card .form-group textarea:focus-visible+label,
.all_forms .card .form-group.input-has-value textarea+label,
.all_forms .card .form-group textarea:-webkit-autofill+label,
.all_forms .card .form-group textarea:-webkit-autofill:hover+label,
.all_forms .card .form-group textarea:-webkit-autofill:focus+label,
.all_forms .card .form-group textarea:-webkit-autofill:active+label,
.all_forms .card .form-group.select-area label,
.input-has-value .span_required,
.all_forms .card .form-group.input-has-value .span_required {
    color: #0f6600;
    -moz-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    z-index: 3;
    font-weight: 700;
}
.span_required::after,
.image_input_required>label::after {
    content: "*";
    color: #ff0000;
    font-size: 14px;
}
.all_forms .select2-container--default .select2-selection--single,
.all_forms .select2-container--default .select2-selection--single .select2-selection__rendered,
.all_forms .select2-container--default .select2-selection--single .select2-selection__clear {
    height: 50px;
    line-height: 50px;
    border-color: #000000;
    padding-left: 10px;
}
.all_forms .select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}
.all_forms .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.user_login {
    padding-bottom: 0;
    line-height: 22px;
    padding-top: 30px;
    font-weight: 400;
}
.user_login .text-right a {
    color: #0f6600;
}
.all_forms.user_login .card {
    margin-bottom: 100px;
    text-align: center;
    max-width: 682px;
    margin: 0 auto 70px auto;
    padding: 60px 100px;
    border-radius: 27px;
}
.user_login .card input[type="text"],
.user_login .card input[type="email"] {
    width: 100%;
    line-height: 20px !important;
}
.icheck-primary label {
    display: inline-block;
    margin-left: 5px;
    line-height: 20px;
    color: #44474F;
}
.user_login .login_pic {
    width: 100%;
}
.user_login .login_pic img {
    width: 100%
}
.user_login .login-box-msg {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 35px;
}
.all_forms.user_login .card .form-group label {
    left: 10px;
    top: 15px;
}
.user_login .btn {
    margin: 30px auto;
}
.user_login .input-group-append {
    display: none;
}
.user_login .input-group {
    margin-bottom: 30px !important;
}
.ancher-btn {
    color: #0f6600;
    line-height: 24px;
}
.ancher-btn span {
    color: #000;
}
.ancher-btn span.material-symbols-outlined {
    color: #0f6600;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.photo-gallery .card figure {
    height: 220px;
    overflow: hidden;
}
.photo-gallery .card figure img,
.excutive_gallery .fig_pic img,
.home_events .post-item figure img,
.events_lists figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    object-position: top left;
    -moz-object-position: top left;
    -webkit-object-position: top left;
    -o-object-position: top left;
}
.video-gallery .grid-item .grid-description {
    -webkit-transform: translate3d(0, -50%, 0) !important;
    transform: translate3d(0, -50%, 0) !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.excutive_gallery .fig_pic {
    height: 250px;
    overflow: hidden;
}
.news_secion_details {
    padding: 0;
}
.news_secion_details .card {
    max-width: 800px;
    margin: 30px auto 70px auto;
    border-radius: 15px;
}
.news_secion_details .card figure img {
    width: 100%;
}
.news_secion_details .login_pic img {
    width: 100%;
}
.home_news .post-item .post-image {
    height: 300px;
    overflow: hidden;
}
.user_login.all_forms .form-group {
    text-align: left !important;
}
.user_login.all_forms .form-group .pwd-btn {
    right: 15px;
    top: 14px;
}
.all_forms .card .form-group {
    padding-right: 30px;
}
.user_login.all_forms .card .form-group {
    padding-right: 0;
}
.gall-block {
    position: relative;
}
.full_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.gall-block .card {
    height: 100%;
    margin-bottom: 0;
}
.gall-block .overalsection {
    margin-bottom: 30px;
}
.gall-block .card-title {
    font-size: 16px;
    line-height: 22px;
}
.header-right #mainMenu-trigger {
    display: none !important;
}
.user_forgot.user_login .btn {
    margin-bottom: 20px;
}
.subtile {
    color: #0f6600;
    font-weight: 700;
}
.primary_color {
    color: #0f6600;
}
.presidents_message h5 {
    margin-bottom: 0;
    line-height: 22px;
}
.presidents_message h6 {
    font-weight: 700;
}
.tag_line {
    font-weight: 700;
    line-height: 22px;
}
.tag_line span {
    display: block;
    font-weight: 400;
}
.single_pic img {
    max-width: 100%;
    float: left;
    border: solid 5px #fdefe7;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    margin: 10px 30px 20px 0;
}
.single_pic img.fright {
    float: right;
    margin: 10px 0 20px 30px;
}
.about-section .item {
    margin-bottom: 50px;
    padding: 30px;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.about-section figure img {
    width: 100%;
}
.update-btn {
    margin: 20px 0 50px 0;
    text-align: center;
    width: 100%;
}
.video-gallery .gall-block .grid-item-wrap {
    border: solid 1px #cccccc;
    padding: 5px;
    background: #eeeeee;
}
.sub-btn {
    background: #000 !important;
    border-color: #000 !important;
    padding: 16px 18px 14px 18px !important;
    margin-left: 0px !important;
    color: #ffffff;
}
.font_700 {
    font-weight: 700;
}
#profile-form .select2-container {
    width: 100% !important;
}
.memner_profile_section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.memner_profile_section ul li {
    width: 46%;
    display: inline-block;
    position: relative;
    padding: 0 0 0 180px;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 700;
}
.memner_profile_section ul li.full_width {
    width: 100%;
}
.memner_profile_section ul li span {
    position: absolute;
    left: 0;
    top: 0;
    color: #000000;
    font-weight: 400;
}
.memner_profile_section .item h4 {
    padding: 0 30px;
    margin-bottom: 20px;
}
.memner_profile_section .item h4 span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    vertical-align: top;
    position: relative;
    top: 7px;
    margin-right: 15px;
    color: #0f6600;
}
.memner_profile_section .item .card {
    padding-bottom: 30px !important;
}
.memner_profile_section .item {
    margin-bottom: 50px;
}
.child_member_list {
    border-bottom: solid 1px #cccccc;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
}
.child_member_list:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.btn.btn-primary, button.btn.btn-primary, .btn:not(.close):not(.mfp-close).btn-primary, a.btn:not([href]):not([tabindex]).btn-primary {
    color: #ffffff !important;
    background-color: #0f6600;
    border-color: #0f6600;
}
.mobile_menu_li {
    display: none !important;
}
.terms_and_conditions {
    padding: 20px 0 30px 20px;
}
.terms_and_conditions a {
    color: #0f6600;
}
.membership_details_card {
    padding-bottom: 30px !important;
}
.all_forms .membership_details_card.card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 70px;
}
.membership_details_card h4 {
    border-bottom: solid 1px #958E8E;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.membership_details_card ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.membership_details_card ul li {
    position: relative;
    margin-bottom: 10px;
}
.membership_details_card ul li span {
    position: absolute;
    left: 0;
    top: 0px;
    color: #0f6600;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}
.membership_details_card ul li em.name {
    width: 250px;
    padding-left: 40px;
    font-weight: 400;
}
.membership_details_card ul li em {
    font-style: normal;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.membership_details_card ul li em.badgh {
    background: #6ACF65;
    color: #ffffff;
    border-radius: 10px;
    padding: 4px 15px;
    margin-left: -5px;
}
.preferred_communication .list label svg {
    display: inline-block;
    margin-right: 15px;
}
.edit_button {
    float: right;
}
.edit_button span {
    vertical-align: top;
    font-size: 16px;
}
.event_reg_card .card {
    padding-bottom: 30px !important;
}
.event_reg_card figure {
    max-height: 150px;
    overflow: hidden;
    border-radius: 15px;
}
.event_reg_card figure img {
    width: 100%;
    border-radius: 15px;
}
.event_reg_card .card h3 {
    color: #0f6600;
}
.event_reg_card .card p {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
}
.event_reg_card .card p i {
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}
.event_reg_card .card p span {
    position: absolute;
    left: 0;
    top: 2px;
    color: #0f6600;
}
.inner-banner.member-inner-banner {
    max-height: 250px;
}
.all_forms .card.profile-edit-communication {
    box-shadow: none !important;
    padding: 0;
    border: none !important;
}
.all_forms #member-profile .form_heading {
    margin: 0 0 40px 30px;
}
.payment-type-radio-payment .radio-item label {
    margin-left: 0 !important;
}
#edit-profile .input-has-value .parsley-errors-list~label {
    color: #0f6600;
    -moz-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    z-index: 3;
    font-weight: 700;
}
.home_events h2 a {
    color: #0f6600 !important;
}
.home_events .post-meta-date .start,
.home_events .post-meta-date .end {
    font-size: 14px;
}
.home_events .post-meta-date .start i,
.home_events .post-meta-date .end i {
    color: #0f6600 !important;
}
.home_events .post-meta-date .start span,
.home_events .post-meta-date .end span {
    font-weight: 700;
}
.home_events .disc {
    margin-bottom: 30px;
}
.home_events .post-item figure {
    height: 200px;
}
.event_detail .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 17%);
    -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 12px rgb(0 0 0 / 17%);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    border-radius: 30px;
    padding: 25px;
}
.event_detail .card figure {
    margin-bottom: 50px;
}
.event_detail .card figure img {
    width: 100%;
    height: auto !important;
    border-radius: 30px;
}
.event_detail .card h1 {
    font-size: 32px;
    line-height: 46px;
    color: #0f6600;
}
.date_section {
    margin: 20px 0 20px 0;
    border-bottom: solid 1px #000000;
    padding-bottom: 10px;
}
.date_section i {
    display: inline-block;
    color: #0f6600;
    margin-right: 20px;
}
.date_section .start,
.date_section .end {
    display: inline-block;
}
.date_section span {
    font-weight: 700;
}
.reg_note {
    background: #eee;
    padding: 20px 30px 10px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.reg_note p {
    font-size: 18px;
    font-weight: 700;
}
.reg_note span {
    color: #0f6600;
}
.events_lists {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 17%);
    -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 12px rgb(0 0 0 / 17%);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
    padding: 20px;
    height: 100%;
}
.events_lists figure {
    height: 200px;
}
.events_lists h3 {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 23px;
    margin-bottom: 16px;
    color: #0f6600;
    font-weight: 600;
}
.events_lists h3 a {
    color: #0f6600;
}
.events-date {
    margin-bottom: 15px;
    font-size: 14px;
}
.events-date .start,
.events-date .end {
    padding: 9px 14px 5px 33px;
    position: relative;
    margin-bottom: 15px;
    border: solid 1px #cccccc;
    font-weight: 600;
}
.events-date .start em,
.events-date .end em {
    font-style: normal;
    position: absolute;
    left: 7px;
    top: -7px;
    background: #ffffff;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: #000000;
}
.events-date span.material-symbols-outlined {
    position: absolute;
    left: 10px;
    top: 13px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
}
.event_detail .card .item .subtilte {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.event_detail .card .item {
    margin-bottom: 50px;
}
.event_detail .card .right .inner {
    border-left: solid 1px #000000;
    height: 100%;
    margin-right: 30px;
    padding-left: 50px;
}
.event_detail .card .right .inner h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.event_detail .card .right .inner ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.event_detail .card .right .inner ul li {
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 50px;
    font-weight: 600;
}
.event_detail .card .right .inner ul li .material-symbols-outlined {
    position: absolute;
    top: 3px;
    left: 0;
    color: #0f6600;
    font-size: 24px;
}
.event_detail .card .right .inner .btn {
    float: none;
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    padding: 12px 40px;
}
.post-item .post-item-description>h2,
.events_lists .description-events>h3 {
    min-height: 50px;
}
.home_events .disc {
    min-height: 100px;
}
.events_lists .disc {
    min-height: 100px;
}
.event_block {
    margin-bottom: 30px;
}
.home-banner .slick-arrow::before {
    top: -1px;
}
.home-banner .slick-prev::before {
    left: -1px;
}
.home-banner .slick-next::before {
    right: -1px !important;
    left: auto !important;
}
.home_events .slick-list {
    padding: 0 0 30px 0;
}
.no_message {
    text-align: center;
}
.event_registration .event_reg_card .card {
    padding: 0 !important;
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    width: 100%;
    margin: 0;
}
.event_registration .event_reg_card {
    border-bottom: solid 1px #000000;
    margin: 0 30px 40px 30px;
    padding-bottom: 30px;
}
.members_nonmembers {
    margin: 0 30px 50px 30px;
}
.members_nonmembers .nonmembers_block {
    position: relative;
    padding: 0 0 0 90px;
}
.members_nonmembers .nonmembers_block .material-symbols-outlined {
    position: absolute;
    font-size: 40px;
    left: 10px;
    top: 0;
    color: #0f6600;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.event_registration .event_reg_card .inner h3 {
    color: #000;
}
.members_nonmembers .nonmembers_block p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.members_nonmembers .nonmembers_block p a {
    display: inline-block;
    color: #0f6600;
    margin-right: 10px;
    position: relative;
}
.members_nonmembers .nonmembers_block p a:hover::before {
    display: none;
}
.members_nonmembers .nonmembers_block p a::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0f6600;
}
.guest_child_details .btn#guest_child {
    margin-right: 30px;
}
.guest_child_details .add_del_btn_outer .col-md-6,
.guest_child_details .add_del_btn_outer .col-md-4 {
    padding: 0;
}
.all_forms .card.guest_child_details .form-group {
    padding-right: 0;
}
.guest_child_details .btn-danger {
    width: 30px !important;
    height: 30px;
    border-radius: 5px !important;
    line-height: 30px !important;
    padding: 0 !important;
}
.guest_child_details #dynamic_form .form_field_outer_row .btn {
    padding: 0 !important;
    top: 10px;
    position: relative;
}
.guest_child_details .form_field_outer_row {
    padding: 20px 30px 10px 30px !important;
}
.guest_child_details .form_field_outer_row .form-group {
    margin: 0 !important;
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px !important;
}
.guest_child_details .form_field_outer_row.header-row {
    background: #eeeeee;
    border-radius: 30px;
}
.guest_child_details .form_field_outer_row.header-row .form-group {
    font-weight: 700;
}
.guest_child_details .form_field_outer_row .form-group .material-symbols-outlined {
    position: relative;
    top: 4px;
    color: #0f6600;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.guest_child_details .form_field_outer_row .form-group.add_del_btn_outer .material-symbols-outlined {
    color: #ffffffff;
}
.guest_child_details .form_field_outer_row .form-group:last-child,
.guest_child_details .form_field_outer_row .form-group:last-child input {
    text-align: right !important;
}
.guest_child_details .form_field_outer_row .form-group textarea {
    width: 100%;
    min-width: 180px;
    height: 50px;
    /* border: none !important;
    padding: 0 !important;
    height: 18px !important;
    min-height: 18px !important;
    width: auto !important; */
}
.guest_child_details #grand-total {
    text-align: right;
    position: relative;
    margin: 0 30px 50px 60px;
    border-top: solid 1px #000;
    padding-top: 30px;
}
.guest_child_details #grand-total span {
    position: absolute;
    left: 0;
    top: 30px;
}
.guest_child_details .add_del_btn_outer .text-right {
    padding-right: 0;
}
.guest_child_details .form_field_outer_row {
    display: block;
}
.guest_child_details .form_field_outer_row.header-row .form-group,
.guest_child_details .form_field_outer_row .form-group {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.guest_child_details .form_field_outer_row .form-group:first-child,
.guest_child_details .form_field_outer_row .form-group:nth-child(6) {
    max-width: 100px;
    text-align: center;
}
.guest_child_details .form_field_outer_row .form-group:last-child,
.guest_child_details .form_field_outer_row .form-group:last-child {
    max-width: 100px;
    text-align: right;
}
.guest_child_details .form_field_outer_row .form-group:last-child input {
    width: 100px !important;
    padding-right: 15px !important;
}
.subscribe-block .input-group #mce-EMAIL {
    padding: 0 20px !important;
    min-height: 55px !important;
    height: 55px !important;
    border: solid 1px #ffffff !important;
    border-radius: 10px;
    background: #ffffff !important;
    font-size: 20px;
}
.subscribe-block .input-group #mce-EMAIL:focus {
    border: solid 1px #ffffff !important;
    box-shadow: none !important;
    outline: none !important;
}
.subscribe-block #mc-embedded-subscribe {
    margin: 0;
    width: 60px;
    height: 56px;
    min-width: 10px;
    min-height: 10px;
    margin-left: -14px !important;
    position: relative;
    background: url(../../images/paper_plane.svg) no-repeat #066fbd !important;
    background-size: 20px 20px !important;
    background-position: center center !important;
    font-size: 0;
}
.subscribe-block .parsley-errors-list {
    position: absolute;
    color: red;
    left: 0;
    top: 75px;
    background: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.badge {
    font-size: 20px;
    padding: 3px 20px 8px 20px !important;
    line-height: 22px !important;
    border-radius: 10px;
}
.event_lists .disc {
    border-bottom: solid 1px #000000;
    margin-bottom: 20px;
}
.date_event {
    position: relative;
}
.date_event {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    padding-left: 35px;
    margin-bottom: 10px;
}
.date_event span.material-symbols-outlined {
    color: #0f6600;
    position: absolute;
    left: 0;
    top: 0;
}
.home_page_events.home_events .post-item {
    min-height: 600px;
}
.home_page_events .post-item.shadow .post-item-wrap {
    background: none !important;
    box-shadow: none !important;
}
.reg_na {
    position: relative;
    width: 100%;
    float: none;
    display: block;
    font-size: 14px;
    padding-left: 35px;
    margin-bottom: 30px;
}
.reg_na span.material-symbols-outlined {
    color: #0f6600;
    position: absolute;
    left: 0;
    top: 2px;
}
.reg_na.reg_yes.green span.material-symbols-outlined,
.reg_na.reg_yes.green {
    color: green;
}
.button_active {
    margin-top: 65px;
}
.event_lists .buttons #register {
    margin-top: -10px;
}
.event_detail .card .right .reg_na {
    text-align: left;
    font-size: 18px;
    padding-left: 50px;
    font-weight: 600;
}
.guest_child_details .form_field_outer_row .form-group.select_area select {
    min-width: 180px;
    color: #000;
    font-size: 16px;
    background: url(../../images/arrow.png) no-repeat !important;
    background-position: right center !important;
}
.guest_child_details .form_field_outer_row .form-group.select_area {
    position: relative;
}
.guest_child_details .form_field_outer_row .form-group.select_area label {
    display: none !important;
}
/* .andhravani #dotsMenu ul li:first-child a>span,
.andhravani #dotsMenu ul li:first-child a span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.andhravani #dotsMenu ul li:first-child,
.andhravani #dotsMenu ul li:first-child {
    background-color: #0f6600;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.body_scroll .andhravani #dotsMenu ul li:first-child a>span,
.body_scroll .andhravani #dotsMenu ul li:first-child a span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.body_scroll .andhravani #dotsMenu ul li:first-child,
.body_scroll .andhravani #dotsMenu ul li:first-child {
    background-color: #0f6600;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
.user_forgot #password-match-label span.material-symbols-outlined {
    right: 10px;
}
.modal p {
    font-size: 16px;
    line-height: 20px;
}
.event_list_page .events_lists figure {
    position: relative;
}
.event_list_page .events_lists figure .cat {
    position: absolute;
    right: 4px;
    top: 4px;
    color: #ffffffff;
    background: #0f6600;
    padding: 0 15px;
    border-radius: 10px;
}
.event_detail .left ul,
.news_secion_details .description ul {
    margin-left: 30px;
}
.contact_left .form_iframe {
    border: none;
    height: 550px;
}
.excutive_gallery .card {
    border-radius: 15px;
    overflow: hidden;
}
.five-items figure {
    border-radius: 15px;
}
.gall-block .card {
    border-radius: 15px;
    overflow: hidden;
}
.home_news .post-item .post-item-description ul {
    display: none;
}
.select-area.select-parsley-required .dropdown_label {
    top: 13px !important;
}
.mfp-ready .modal {
    border-radius: 15px;
    padding: 70px 40px;
}
.mfp-ready .modal p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}
.modal-title {
    font-weight: 700 !important;
    line-height: 40px;
    margin: 50px 0 30px !important;
}
.modal_buttons {
    margin-top: 30px;
}
.excutive_gallery .col-lg-4 {
    margin-bottom: 30px;
}
.excutive_gallery .card {
    height: 100%;
}
.excutive_gallery .card .card-body {
    text-align: center;
}
.excutive_gallery .card .card-body .card-catigory {
    color: #0f6600;
    font-weight: bold;
}
.colorgreen {
    color: #6ACF65 !important;
}
.user_forgot.all_forms .card .form-group.password_validations_eye .span_required,
.user_forgot.all_forms .card .form-group#password-match-label .span_required {
    color: #000000;
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-size: 16px;
    line-height: 18px;
    background-color: none;
    z-index: 1;
    font-weight: 400;
    left: 20px;
}
.user_forgot.all_forms .card .form-group.password_validations_eye input:focus~.span_required,
.user_forgot.all_forms .card .form-group#password-match-label input:focus~.span_required,
.user_forgot.all_forms .card .form-group.password_validations_eye.input-has-value .span_required,
.user_forgot.all_forms .card .form-group#password-match-label.input-has-value .span_required {
    color: #0f6600;
    -moz-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    z-index: 3;
    font-weight: 700;
}
.member_profile .alert.alert-success {
    font-size: 24px;
    font-weight: 700;
}
.alert.alert-success {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: #4CB552 !important;
    border-color: #4CB552 !important;
}
.alert_danger {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: #EC3E34 !important;
    border-color: #EC3E34 !important;
    color: #ffffffff;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    padding: 1rem 1.5rem;
    z-index: 9999;
    margin-bottom: 30px;
}
.events_no_button .buttons .reg_na {
    display: none !important;
}
.donation_success .card .icon {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    -o-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    -webkit-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    -moz-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 180px;
    border-radius: 100%;
    color: #0f6600;
    position: absolute;
    left: 50%;
    top: -90px;
    margin-left: -90px;
}
.donation_success .card .icon span {
    font-size: 120px;
    line-height: 180px;
}
.donation_success .card {
    position: relative;
    margin-top: 100px !important;
    padding-top: 120px !important;
}
.donation_success .card h1 {
    font-size: 46px;
    font-weight: 700;
}
.donation_success .card p,
.donation_success .card h2,
.donation_success .card h3,
.donation_success .card h1 {
    color: #000;
}
.donation_success .card h4 {
    color: #000;
    font-weight: 700;
}
.donation_success .card p span {
    color: #0f6600;
    font-weight: 700;
}
.no_marginB {
    margin-bottom: 0 !important;
}
.back_button a {
    color: #0f6600;
    font-size: 18px;
    font-weight: 700;
}
.back_button a span {
    vertical-align: top;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 2px;
}
.news_secion_details .description img {
    max-width: 100%;
}
.event_detail .left .item img {
    max-width: 100%;
}
.home-photo-gallery  .block{margin-bottom: 30px;}
.home-photo-gallery  .card{padding: 15px;}
.home-photo-gallery  .card figure{height: 350px; overflow: hidden;}
.post-item .post-image .post-meta-category{    background: #0f6600;}

.footer-left{text-align: center;}
#footer .widget .widget-title, #footer .widget h4{border-bottom: solid 1px #cccccc; padding-bottom: 15px;}