@media all and (max-width: 1920px) {
  #header[data-fullwidth="true"] .header-inner .container,
  #header[data-fullwidth="true"] #header-wrap .container {
    padding: 0 15px;
  }
  #mainMenu nav>ul>li>a {
    padding: 10px 17px;
    font-size: 15px;
  }
  #mainMenu nav>ul>li.li-margin {
    margin-left: 70px;
  }
  #header .header-inner #logo a,
  #header .header-inner #logo a span,
  #header #header-wrap #logo a,
  #header #header-wrap #logo a span {
    font-size: 16px;
  }
  .home_page_slider .item {
    max-height: 1080px;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
  }
  .foreground-image {
    height: 286px;
  }
  .about-section {
    top: -285px;
    margin-bottom: -285px;
  }
  .about-section .inner {
    margin-top: 285px;
    margin-bottom: 196px;
    padding-top: 85px;
  }
  .foreground-image1 {
    height: 196px;
  }
  .green-inner {
    padding: 30px;
  }
  .calendar-inner {
    margin: 206px 0 115px 0;
  }
}
@media all and (max-width: 1700px) {
  #header .header-inner #logo a>img,
  #header #header-wrap #logo a>img {
    height: 75px;
  }
  #header .header-inner #logo a,
  #header .header-inner #logo a span,
  #header #header-wrap #logo a,
  #header #header-wrap #logo a span {
    font-size: 13px;
  }
  #mainMenu nav>ul>li>a {
    padding: 10px 13px;
    font-size: 14px;
  }
  #mainMenu nav>ul>li.li-margin {
    margin-left: 35px;
  }
  #mainMenu nav>ul>li>a.btn {
    font-size: 11px;
  }
  #mainMenu nav>ul>li>a.btn .material-symbols-outlined {
    font-size: 16px;
    margin-right: 2px;
  }
}
@media all and (max-width: 1500px) {}
@media all and (max-width: 1300px) {}
@media all and (max-width: 1200px) {}
@media all and (max-width: 991px) {
  body,
  p,
  .page-title span,
  .testimonials .item>h5 {
    line-height: 1.7em;
    font-size: 0.938em;
  }
  h1,
  .h1 {
    font-size: 1.625em;
    line-height: 2em;
  }
  h4,
  .h4,
  .calender-list h3,
  .testimonials .item>h6 {
    font-size: 1.125em;
  }
  .home-banner .description h4 {
    font-size: 1em;
  }
  button.btn,
  .btn:not(.close):not(.mfp-close),
  a.btn:not([href]):not([tabindex]) {
    font-size: 0.875em;
  }
  .home-banner .description .btn {
    margin-top: 20px !important;
  }
  .about-section,
  .about-section .page-title {
    top: 0;
    margin-bottom: 30px;
  }
  .about-section {
    top: -75px;
  }
  .home_page_slider .item .description {
    width: 100%;
    padding: 0 15px;
    top: 60%;
  }
  #header[data-transparent="true"]+.inspiro-slider,
  #header[data-transparent="true"]+#slider,
  #header[data-transparent="true"]+.fullscreen,
  #header[data-transparent="true"]+.halfscreen,
  #header[data-transparent="true"]+#google-map {
    margin-bottom: -242px;
  }
  .about-section .foreground-image {
    top: -100px;
    height: 320px;
  }
  .about-section .foreground-image.foreground-image1 {
    display: none !important;
  }
  .about-items {
    margin: 0;
  }
  .about-section .inner {
    background: #dbe6bc;
    margin: 100px 0 0px 0;
    text-align: center;
    padding: 30px 0 30px 0;
    position: relative;
  }
  .about-section .col-md-4,
  .facilities-section .pic,
  .facilities-section .content,
  .calendar .col-md-4,
  .calendar .col-md-8,
  #footer .footer-content .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .green-card figure {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .green-card figure img {
    border-radius: 30px;
  }
  .facilities-section {
    padding: 0 0;
  }
  .facilities-list .item figure {
    width: 100%;
    height: auto;
  }
  .facilities-section .content {
    text-align: center !important;
  }
  .facilities-list .item:nth-child(even) .pic {
    left: 0;
  }
  .facilities-list .item:nth-child(even) .pic {
    order: 1 !important;
  }
  .calendar {
    background: #f0f0f0;
    margin-top: 50px;
    padding: 50px 0;
  }
  .calendar .foreground-image {
    display: none;
  }
  .calendar-inner {
    margin: 0;
  }
  .calendar-item {
    top: 0;
    margin: 0;
  }
  .calender-list ul li {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
  .calender-list ul li::before {
    top: 14px;
  }
  .calendar .col-md-4 {
    margin-bottom: 30px;
  }
  .facilities-list .item {
    background: #eee;
    padding: 30px;
    border-radius: 30px;
  }
  .home_events_slider .inner {
    margin-top: 100px;
  }
  .home_events h2.m-b-90 {
    margin-bottom: 30px !important;
  }
  .home_events_slider .post-item .post-item-description,
  .testimonials {
    text-align: center;
  }
  .embed-responsive {
    min-height: 300px;
  }
}
@media all and (max-width: 768px) {}
@media all and (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}